# Compiled binary addon
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# package
package-lock.json

# storage
storage/

# Log
log/

# 一時的にtsconfig
tsconfig.json

# test
coverage/

